@import '../abstracts/mixins';
@import '../abstracts/variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;

  &__content-images {
    width: 100px;
    margin: 0;
    background-color: red;
  }

  &__image {
    object-fit: cover;
    border-radius: 100%;
    width: 100%;
  }

  &__name {
    margin: 10px 0;
    @include smallFont;
    text-transform: capitalize;
  }
}
