// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// !Colors
$primaryColor: #09090c;
$secondaryColor: #5835c5;
$thirdColor: #582ea9;
$fontPrimaryColor: #fff;
$fontSecondaryColor: #7d7e82;

// !Size Font

$fontSizeLarge: 36px;
$fontSizeMedium: 24px;
$fontSizeSmall: 18px;
$fontSizeSmallExtraSmall: 14px;
$fontSizeParagraph: 12px;

// ! Font

$fontInter: 'Inter', sans-serif;

